<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>rejected students</title>
</head>

<body>
    <h1>THE PROFILE OF REJECTED STUDENTS</h1>
    <table class="table table-hover">

        <thead>
            <tr>
                <th>NAME</th>
                <th>AGE</th>
                <th>SCHOOL NAME</th>
                <th>TENTH MARK</th>
                <th>TWELTH MARK</th>
                <th>EMAIL</th>
                <th>PHONE NUMBER</th>
                <th>
                    <center>#</center>
                </th>
            </tr>
        </thead>
        <tbody>

            {% for students in rejectedStudents %}


            <tr>

                <th scope="row"> {{ students.name }}</th>
                <td>{{ students.age }}</td>
                <td>{{ students.school_name }}</td>
                <td>{{ students.tenth_mark }}</td>
                <td>{{ students.twelth_mark }}</td>
                <td>{{ students.email }}</td>
                <td>{{ students.phone_num }}</td>
                <td>-</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</body>

</html>